@font-face {
  font-family: 'DsDigib';
  src: url('./DS-DIGIB.TTF');
  font-display: swap;
}

@font-face {
  font-family: 'Murecho-Medium';
  src: url('./Murecho-Medium.ttf');
  font-display: swap;
}


