.page {
    background: linear-gradient(180deg, #1F1C33 0%, #403870 100%);
    min-height: 100vh;
    overflow: scroll;

    .pageBackground {
        position: absolute;
        top: 0;
        width: 100%;

        .pageBackgroundImg {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .headBlock {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoBlock {
            margin: 0.38rem 0 0 0.38rem;
            text-align: left;
            display: flex;
            align-items: center;
        }

        .logo {
            width: 0.73rem;
        }

        .signOutBlock {
            margin-right: 0.31rem;
            text-align: left;
            display: flex;
            align-items: center;
        }

        .signOut {
            height: 0.65rem;
        }
    }

    .bodyBlock {
        position: relative;
        margin-top: 0.85rem;

        .block {
            width: 6.12rem;
            height: 3.15rem;
            margin: 0 auto;
            background-image: url(../../../../assets/userLogin/blockBackground.png);
            background-size: 6.12rem 3.15rem;
            background-position: 50%;

            .blockCard {
                padding: 0.38rem;
                text-align: left;

                .text {
                    font-size: 0.23rem;
                    line-height: 0.23rem;
                    font-weight: 500;
                    color: #FFFFFF;
                    font-family: Murecho-Medium;

                }

                .num {
                    margin-top: 0.19rem;
                    font-size: 0.46rem;
                    font-weight: 800;
                    color: #FDFAED;
                    line-height: 0.46rem;
                    font-family: Murecho-Medium;
                }

                .slider {
                    margin-top: 0.2rem;
                    overflow: hidden;
                    height: 0.6rem;
                    padding: 0 0.1rem;
                    position: relative;

                    .middelLine {
                        position: relative;
                        top: 0.25rem;
                        width: 5.35rem;
                        height: 0.02rem;
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 0.31rem;
                        text-align: center;
                    }



                    .middleArrowImg {
                        position: absolute;
                        top: -0.12rem;
                        left: 2.5rem;
                        width: 0.31rem;
                        height: 0.31rem;
                    }

                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0;
                    color: #FFFFFF;

                    .exButton {
                        position: relative;
                        width: 1.5rem;
                        height: 0.65rem;
                        border-radius: 0.15rem;
                        opacity: 1;
                        border: 0.02rem solid #FFFFFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .currencyName {
                            font-size: 0.27rem;
                            font-family: Murecho-Black, Murecho;
                            font-weight: 900;
                            color: #FFFFFF;
                            line-height: 0.27rem;
                            margin-right: 0.3rem;
                            font-family: Murecho-Medium;
                        }

                        .bottomArrowIconBlock {
                            height: 0.65rem;
                            display: flex;
                            align-items: center;

                            .bottomArrowIcon {
                                width: 0.17rem;
                            }
                        }

                        .currencyList {
                            position: absolute;
                            top: 0.7rem;
                            background: rgba(255, 255, 255, 0.8);
                            border-radius: 0.15rem;
                            width: 2.31rem;
                            z-index: 9;


                            .currencyLine {
                                opacity: 1;
                                height: 0.65rem;
                                line-height: 0.65rem;
                                display: flex;
                                justify-content: start;
                                display: flex;
                                align-items: center;
                                padding-left: 0.1rem;


                                .singleImgBlock {
                                    display: flex;
                                    align-items: center;

                                    .singleImg {
                                        width: 0.4rem;
                                    }
                                }

                                .singleText {
                                    font-weight: 900;
                                    color: #000000;
                                    font-size: 0.27rem;
                                    margin-left: 0.15rem;
                                    font-family: Murecho-Medium;
                                }
                            }
                        }

                        .hide {
                            display: none !important;
                        }


                    }

                    .exNum {
                        font-size: 0.46rem;
                        font-weight: 800;
                        font-family: Murecho-Medium;
                    }
                }
            }
        }

    }

    .showText {
        text-align: left;
        position: relative;
        width: 6.12rem;
        margin: 0.38rem auto;
        font-size: 0.23rem;
        font-weight: 500;
        color: #FF3E14;
        line-height: 0.43rem;
        font-family: Murecho-Medium;
    }

    .caseOutButton {
        position: relative;
        margin-top: 2rem;
        text-align: center;
        width: 100%;

        .caseOutImg {
            width: 3.46rem;
        }

        .caseOutImgActive {
            width: 4.23rem;
        }
    }

    .inCashOut {
        position: relative;
        position: relative;
        width: 6.12rem;
        margin: 0.85rem auto 0 auto;
        text-align: left;

        .lineText2 {
            font-size: 0.31rem;
            font-family: Murecho-Medium, Murecho;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 0.31rem;
            color: #FFFFFF;
        }

        .cashOutNum {
            font-size: 0.46rem;
            font-family: Murecho-ExtraBold, Murecho;
            font-weight: 800;
            color: #FFFFFF;
            line-height: 0.46rem;
        }

        .cashOutInContent {
            margin-top: 0.23rem;
            font-size: 0.23rem;
            font-family: Murecho-Light, Murecho;
            font-weight: 300;
            color: #FFFFFF;
            line-height: 0.23rem;
            line-height: 0.32rem;
        }

        .cashOutInButtonBlock {
            margin-top: 0.5rem;
            .cashOutInButton {
                margin-top: 0.3rem;
                width: 6.12rem;
                height: 0.92rem;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 0.31rem;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.23rem;
                font-size: 0.31rem;
                font-weight: 500;
                color: #FFFFFF;
            }
        }

        .cashOutInInputBlock {
            display: flex;
            align-items: center;
            .cashOutInButton {
                margin-top: 0.3rem;
                width: 6.12rem;
                height: 0.92rem;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 0.31rem;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.23rem;
                font-size: 0.31rem;
                font-weight: 500;
                color: #FFFFFF;
            }
        }

        .cashOutInText {
            margin-top: 0.31rem;
            font-size: 0.27rem;
            font-family: Murecho-Medium, Murecho;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 0.4rem;

            .lineText {
                display: inline-block;
            }


            .cashOutTime {
                color: #FFF384;
            }

            .timeDown {
                margin-top: 0.3rem;
                width: 6.12rem;
                height: 0.92rem;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 0.31rem;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 0.23rem;
                font-size: 0.31rem;
            }

            .downTimeStyle {
                color: #FFF384;
            }


        }
    }
    .inputStyle {
        border: none;
        width: 6.12rem;
        height: 0.96rem;
        background: #FFFFFF;
        border-radius: 0.31rem;
        opacity: 1;
        padding: 0 0.3rem 0 0.3rem;
        font-size: 0.31rem;
        font-weight: bold;
        color: #4B5879;
        opacity: 0.5;
        display: block;
        font-family: Nunito-Bold, Nunito;
        margin-top: 0.3rem;
    }

    .inputStyle:focus {
        //获取焦点
        outline: none;
        opacity: 0.8;
        font-family: Nunito-Bold, Nunito;
        // box-shadow: 0 0 0 0.01rem #FFD24B;
        // background: #ffffff;

    }

    .errorShow {
        font-size: 0.24rem;
        font-weight: bold;
        color: #FF4646;
        padding: 0.1rem 0.12rem;
        position: absolute;
        bottom: -0.7rem;
        font-family: Nunito-Bold, Nunito;

    }
    .sendInput{
      padding: 0 0.86rem 0 0.31rem !important;
    }

    .cashOutInInputBlock {
        position: relative;
        margin: 0 auto;
        margin-bottom: 0.28rem;

        font-family: Nunito-Bold, Nunito;

        .errorShow {
            font-size: 0.12rem;
            font-weight: bold;
            color: #FF4646;
            padding: 0.1rem 0.12rem;
            position: absolute;
            bottom: -0.5rem;

        }

        .sendCodeBlock {
            position: absolute;
            top: 0.52rem;
            right: 0.3rem;
            height: 0.5rem;
            display: flex;
            align-items: center;

            .sendCode {
                width: 1.13rem;
                height: 0.5rem;
                background-image: url(../../../../assets/userLogin/codeSend.png);
                background-repeat: no-repeat;
                background-size: 1.13rem 0.5rem;
                background-position: 50% 85%;

                font-size: 0.23rem;
                font-weight: bold;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Nunito-Bold, Nunito;
            }

            .sendLoad {
                width: 1.13rem;
                height: 0.5rem;
                border-radius: 0.17rem;
                background-image: url(../../../../assets/userLogin/codeLoad.png);
                background-size: 1.13rem 0.5rem;
                background-position: 50%;

                font-size: 0.23rem;
                font-weight: bold;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .sendCodeLoad {}

        }

        .passwordRuleBlock {
            display: inline-block;
            height: 1rem;

            .passWordTitle {
                font-size: 0.16rem;
                font-weight: bold;
                color: #FFFFFF;
                margin-top: 0.16rem;
            }

            .passWordRuleLine {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 0.12rem;

                .ruleIconBlock {
                    width: 0.09rem;
                    height: 0.07rem;
                    font-size: 0.1rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    font-family: Nunito-Bold, Nunito;

                    .ruleIcon {
                        width: 0.09rem;
                        height: 0.07rem;
                        position: relative;
                        top: 0.01rem;
                    }
                }

                .ruleText {
                    font-size: 0.1rem;
                    font-weight: bold;
                    color: #60FF46;
                    margin-left: 0.08rem;
                    font-family: Nunito-Bold, Nunito;
                }

                .ruleTextError {
                    color: #FF4646 !important;
                    font-family: Nunito-Bold, Nunito;
                }

            }
        }



    }

    


}

.showModalText{
    width: 5.5rem;
    margin: 0 auto;
    font-size: 0.27rem;
font-family: Murecho-Medium, Murecho;
font-weight: 500;
color: #333333;
line-height: 0.4rem;
}