.page {
    background: linear-gradient(180deg, #1F1C33 0%, #403870 100%);
    height: 100vh;
    overflow: hidden;

    .pageBackground {
        position: absolute;
        top: 0;
        width: 100%;

        .pageBackgroundImg {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .headBlock {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoBlock {
            margin: 0.38rem 0 0 0.38rem;
            text-align: left;
            display: flex;
            align-items: center;
        }

        .logo {
            width: 0.73rem;
        }
        .signOutBlock{
            margin-right: 0.31rem;
            text-align: left;
            display: flex;
            align-items: center;
        }
        .signOut{
            height: 0.65rem;
        }
    }

    .bodyBlock {
        position: relative;
        margin-top: 0.85rem;

        .block {
            width: 6.12rem;
            height: 3.15rem;
            margin: 0 auto;
            background-image: url(../../../../assets/userLogin/blockBackground.png);
            background-size: 6.12rem 3.15rem;
            background-position: 50%;

            .blockCard {
                padding: 0.38rem;
                text-align: left;

                .text {
                    font-size: 0.23rem;
                    line-height: 0.23rem;
                    font-weight: 500;
                    color: #FFFFFF;

                }

                .num {
                    margin-top: 0.19rem;
                    font-size: 0.46rem;
                    font-weight: 800;
                    color: #FDFAED;
                    line-height: 0.46rem;
                }

                .slider {
                    margin-top: 0.2rem;
                    overflow: hidden;
                    height: 0.6rem;
                    padding: 0 0.1rem;
                    position: relative;

                    .middelLine {
                        position: relative;
                        top: 0.25rem;
                        width: 5.35rem;
                        height: 0.02rem;
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 0.31rem;
                        text-align: center;
                    }

                  

                        .middleArrowImg {
                            position: absolute;
                            top: -0.12rem;
                            left: 2.5rem;
                            width: 0.31rem;
                            height: 0.31rem;
                        }
                    
                }

                .bottom {
                    margin-top: 0.1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 0.1rem;
                    color: #FFFFFF;

                    .exButton {
                        position: relative;
                        width: 1.5rem;
                        height: 0.65rem;
                        border-radius: 0.15rem;
                        opacity: 1;
                        border: 2px solid #FFFFFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .currencyName {
                            font-size: 0.27rem;
                            font-family: Murecho-Black, Murecho;
                            font-weight: 900;
                            color: #FFFFFF;
                            line-height: 0.27rem;
                            margin-right: 0.3rem;
                        }

                        .bottomArrowIconBlock {
                            height: 0.65rem;
                            display: flex;
                            align-items: center;

                            .bottomArrowIcon {
                                width: 0.17rem;
                            }
                        }

                        .currencyList {
                            position: absolute;
                            top: 0.7rem;
                            background: rgba(255, 255, 255, 0.8);
                            border-radius: 0.15rem;
                            width: 2.31rem;
                            z-index: 9;


                            .currencyLine {
                                opacity: 1;
                                height: 0.65rem;
                                line-height: 0.65rem;
                                display: flex;
                                justify-content: start;
                                display: flex;
                                align-items: center;
                                padding-left: 0.1rem;
                              

                                .singleImgBlock {
                                    display: flex;
                                    align-items: center;

                                    .singleImg {
                                        width: 0.4rem;
                                    }
                                }

                                .singleText {
                                    font-weight: 900;
                                    color: #000000;
                                    font-size: 0.27rem;
                                    margin-left: 0.15rem;
                                }
                            }
                        }

                        .hide {
                            display: none !important;
                        }


                    }

                    .exNum {
                        font-size: 0.46rem;
                        font-weight: 800;
                    }
                }
            }
        }

    }

    .showText {
        text-align: left;
        position: relative;
        width: 6.12rem;
        margin: 0.38rem auto;
        font-size: 0.23rem;
        font-weight: 500;
        color: #FF3E14;
        line-height: 0.43rem;
    }

}